/* You can add global styles to this file, and also import other style files */
@import url(./app/core/shared/styles/material-overrides.scss);
@tailwind base;
@tailwind components;
@tailwind utilities;


// Customize the entire app. Change :root to your selector if you want to scope the styles.

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}